<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (typeof css != 'undefined') { %>
    <link href="./css/<%= css %>.css" rel="stylesheet" type="text/css">
  <% } %>
  <% if (typeof js != 'undefined') { %>
    <script src="/scripts/<%= js %>.js""></script>
  <% } %>
  <meta name="theme-color" content="#00534c"/>
  <link rel="manifest" href="./manifest.json">
  <script async src="./service-worker.js"></script>
  <title><%= title %></title>
</head>