<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Homepage" , css: "homepage" })%>

  <body>
    <div>
      <ul>
        <% for (var i=0; i < (query.length); i++) { %>
          <li>
            <a href="<%= query[i].title %>.html"><%= query[i].title %></a>
          </li>
          <% } %>
        </ul>
    </div>
  </body>

</html>