<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Homepage" , css: "main" })%>

  <body>
    <h1>Home</h1>

    <% for (var i=0; i < (data.length); i++) { %>
      <li>
        <a href="<%= data[i].title %>.html"><%= data[i].title %></a>
      </li>
    <% } %>
  </body>

</html>