<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Homepage" , css: "homepage" })%>

  <body>
    <main>
      <nav>
        <ul>
          <% for (var i=0; i < (query.length); i++) { %>
            <li>
              <a href="<%= query[i].title %>.html">
                <%= query[i].title %>
              </a>
            </li>
            <% } %>
              <li>
                <form action="/" method="get">
                  <input type="text" name="query" id="query" placeholder="Find a subreddit" autocomplete="off"><input
                    type="submit" value=">"></input>
                </form>
              </li>
        </ul>
      </nav>
    </main>

    <div class="grid-lines">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <script async src="./scripts/main.js"></script>
  </body>

</html>