* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  width: 75vw;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: #00534c;
}

body div {
  width: 100%;
}

body>h1 {
  background-color: white;
  color: #00534c;
  text-align: center;
  padding: 10px 0px;
  border-radius: 0px 0px 10px 10px;
}

.grid-lines {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;

  width: calc(100% - 60px);
  max-width: 1600px;
  height: 100%;

  z-index: -2;
}

.grid-lines span {
  border: 0.000001px solid #d7d6d410;
}

nav {
  /* position: absolute; */
  margin-left: 50%;
  margin-top: 50vh;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  width: 300px;
}

ul {
  list-style: none;
}

body>ul {
  /* position: absolute; */
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 300px;

}

body>ul h2 {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

body>ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #9bb7b590;
  max-width: 100%;
  /* height: max-content; */
  padding: 10px;
  overflow: hidden;
  transition: 0.3s;
  background-color: #00534c;
  margin-top: 20px;
}

body>ul li a {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 1rem;
  color: white;
  font-weight: 300;
}

body>ul li:hover,
body>ul li:focus-within {
  background-color: #00675e;
}

nav>ul li a {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-size: 3em;
}

ul li::first-letter {
  text-transform: capitalize;
}

body nav:hover>ul li {
  opacity: 0.5;
  color: #313131;
  transition: 0.1s;
}

body nav:hover>ul li:hover {
  opacity: 1;
}

nav>ul:first-of-type form {
  margin-top: 10px;
  border: 2px solid #9bb7b590;
  display: flex;
  justify-content: space-between;
}

nav>ul:first-of-type form input {
  background-color: transparent;
  color: white;
  height: 3em;
  width: 80%;
  border: none;
  transition: .1s;
  font-weight: bold;
}

nav>ul:first-of-type form input[type='text'] {
  font-size: 1rem;
  padding-left: 10px;
}

nav>ul:first-of-type form input[type='text']::placeholder {
  color: #9bb7b590;
}

nav>ul:first-of-type form input[type='submit'] {
  height: 3rem;
  width: 20%;
}

nav>ul:first-of-type form input:focus,
nav>ul:first-of-type form input:hover {
  outline: none;
  background-color: #00675e;
}

button {
  cursor: pointer;
  margin-top: 5px;
  background: transparent;
  border: 1px solid #9bb7b590;
  padding: 5px;
  border-radius: 3px;
  color: white;
  transition: .1s;
}

button.disabled {
  border-color: #ff1744;
  background-color: #b2102f80;
}

button.save {
  border-color: #2196f3;
  background-color: #1769aa30 ;
}

button[disabled]{
  border-color: #4caf50;
  background-color: #357a38
}