* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  width: 75vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #00534c;
}

body div {
  width: 100%;

}

.grid-lines {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;

  width: calc(100% - 60px);
  max-width: 1600px;
  height: 100%;

  z-index: -2;
}

.grid-lines span {
  border: 0.000001px solid #d7d6d410;
}

nav {
  /* position: absolute; */
  margin-left: 50%;
  margin-top: 50vh;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  width: max-content;
}

ul {
  list-style: none;
}

body>ul {
  /* position: absolute; */
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 300px;

}

body>ul h2 {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

body>ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #9bb7b590;
  max-width: 100%;
  /* height: max-content; */
  padding: 10px;
  overflow: hidden;
  transition: 0.3s;
  background-color: #00534c;
  margin-top: 20px;
}

body>ul li a {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 1rem;
  color: white;
  font-weight: 300;
}

body>ul li:hover,
body>ul li:focus-within {
  background-color: #00675e;
}

nav>ul li a {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-size: 3em;
}

ul li::first-letter {
  text-transform: capitalize;
}

body nav:hover>ul li {
  opacity: 0.5;
  color: #313131;
  transition: 0.1s;
}

body nav:hover>ul li:hover {
  opacity: 1;
}