* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  width: 75vw;
  margin: 0 auto;
  background-color: #0F0F0F;
  color: #818181;
}

body div {
  width: 100%;
  margin: 0 auto;
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

body div ul li a{
  color: #818181;
  font-size: 2rem;
  text-decoration: none;
}

/* https://css-tricks.com/hover-on-everything-but/ */
body div:hover>ul li {
  opacity: 0.5;
  color: #313131;
  transition: .1s;
}

body div:hover>ul li:hover {
  opacity: 1.0;

}